MONGODB_URI=mongodb+srv://aqibrajpootofficial_db_user:nL5lFoQ3BeRhgQ0x@cluster0.xiwygam.mongodb.net/medium-clone?retryWrites=true&w=majority
JWT_SECRET=hjOlKNXRZyPmVeqAbBdDIG/rkrm8tr92carw6DqXSi38G+7Y3hpbdZx3qEJxM8ZE5Ws+IeuWmICEIJB8Qas9SQ==
JWT_EXPIRE=30d

CLOUDINARY_CLOUD_NAME=dzio6tpry
CLOUDINARY_API_KEY=558189854326856
CLOUDINARY_API_SECRET=r2U5X-tf-yp6oiuQ3jeE9yoF6Us

CLIENT_URL=http://localhost:5173
